<tr>
  <td><%= user.id %></td>
  <td><%= link_to_if can?(:write, :users), user.name, user %></td>
  <td><%= user.email %></td>
  <td class="editable-role">
    <%= render partial: 'shared/user_project_role', locals: {user: user, project: @project, user_project_role_id: user.user_project_role_id} %>
  </td>
</tr>
