<li class="<%= 'active' if active == 'kubernetes' %>">
  <%= link_to kubernetes_project_path(project), style: 'padding-top: 10px; padding-bottom: 10px' do %>
    <%= image_tag('kubernetes_40px.png', height: '30px') %>
  <% end %>
</li>
