<% if object.errors.any? %>
  <div class="errors">
    <p>An error occurred!</p>
    <ul>
      <% object.errors.each do |error| %>
        <li><%= error.first %></li>
      <% end %>
    </ul>
  </div>
<% end %>
