<ul class="nav nav-tabs">
  <% Changeset::ATTRIBUTE_TABS.each do |tab| %>
    <li <%= 'class="active"' if tab == active %>>
      <a href="#<%= tab %>" data-toggle="tab"><%= tab.humanize %></a>
    </li>
  <% end %>
</ul>
