<div class="login-wrapper fade-in">
  <h1>Pusher</h1>
  <p>Understand what is being deployed.</p>
  <div class="login">
    <%= link_to '/auth/github', class: "action github" do %>
      <%= image_tag image_url('github.png') %> Login with Github
    <% end %>
    <%= link_to '/auth/zendesk', class: "action zendesk" do %>
      <%= image_tag image_url('zendesk.png') %> Login with Zendesk
    <% end %>
  </div>
</div>
