<div class="login-wrapper fade-in">
  <h1 class="login-brand">Samson</h1>
  <p>Understand what is being deployed.</p>
  <div class="login">
    <%= link_to omniauth_path('github'), class: "action github" do %>
      <%= image_tag image_url('github.png') %> Login with Github
    <% end %>
    <!--
    <%= link_to omniauth_path('google'), class: "action google" do %>
      <%= image_tag image_url('google.png') %> Login with Google
    <% end %>
    -->
  </div>
</div>
