<div class="login-wrapper fade-in">
  <h1>Pusher</h1>
  <p>Understand what is being deployed.</p>
  <p>Please authenticate with Github if you intend on being a deployer.</p>
  <div class="login">
    <%= link_to omniauth_path('github'), class: "action github" do %>
      <%= image_tag image_url('github.png') %> Login with Github
    <% end %>
    <%= link_to omniauth_path('zendesk'), class: "action zendesk" do %>
      <%= image_tag image_url('zendesk.png') %> Login with Zendesk
    <% end %>
  </div>
</div>
