<li class="stage-bar bar list-unstyled clearfix">
  <span><%= link_to macro.name, [@project, macro] %></span>

  <div class="btn-group pull-right">
    <% if is_admin_for_project? %>
      <%= link_to "Edit", edit_project_macro_path(@project, macro), class: "btn btn-default" %>
    <% end %>

    <%= deploy_link @project, macro %>
  </div>
</li>
