<% content_for(:page_title, "Editing #{@macro.name} (#{@project.name})") %>

<%= breadcrumb @project, @macro %>

<h1>Edit macro</h1>

<section>
  <div class="row">
    <div class="col-lg-2 button-label">Actions</div>
    <div class="col-lg-6">
      <%= link_to 'Execute', execute_project_macro_path(@project, @macro), method: :post, class: 'btn btn-primary', data: { confirm: "Are you sure you have no unsaved changes and would like to execute '#{@macro.name}'?" } %>
      <% if is_user_admin_for_project? %>
        <%= link_to_delete_button([@project, @macro]) %>
      <% end %>
    </div>
  </div>
  <%= render 'form', project: @project, macro: @macro %>
</section>
