<% page_title "Macros" %>

<%= render 'projects/header', project: @project, tab: "macros" %>

<section class="tabs">
  <ul id="macros">
    <%= render partial: 'macro', collection: @macros %>
  </ul>

  <% if admin_for_project? %>
    <%= link_to "Add Macro", new_project_macro_path(@project), class: "btn btn-default" %>
  <% end %>
</section>
