<%= render 'projects/header', project: @project, tab: "macros" %>

<section class="tabs">
  <ul id="macros">
    <%= render @macros %>
  </ul>

  <% if is_user_admin_for_project? %>
    <%= link_to "Add Macro", new_project_macro_path(@project), class: "btn btn-default" %>
  <% end %>
</section>
