<p>The detailed log can be viewed <%= link_to 'here', project_deploy_url(@project, @deploy) %></p>

<% %w(risks commits pull_requests).each do |attribute| %>
  <h3><%= attribute.humanize %></h3>
  <%= render "changeset/#{attribute}", changeset: @changeset, type: 'deploy' %>
<% end %>
