<% projects = group.projects.to_a %>
<%= list_with_show_more(projects.sort_by(&:name), display_limit, link_to("+ #{projects.size - display_limit} More")) do |project| %>
  <li><%= link_to project.name, project %></li>
<% end %>
