<%= list_with_show_more(group.projects.sort_by(&:name), display_limit, link_to("+ #{group.projects.size - display_limit} More")) do |project| %>
  <li><%= link_to project.name, project %></li>
<% end %>
