<% projects = group.projects.to_a.sort_by(&:name) %>

<%# The index page has a limit, but the show page should display all projects %>
<% if display_limit %>
  <%= unordered_list(projects, display_limit: display_limit, show_more_tag: link_to("+ #{projects.size - display_limit} More")) do |project| %>
    <%= link_to project.name, project %>
  <% end %>
<% else %>
  <ul>
    <% projects.each do |project| %>
      <li><%= link_to project.name, project %></li>
    <% end %>
  </ul>
<% end %>
