<div class="form-group">
  <%= form.label :kubernetes_job, "Use Remote Kubernetes Job?", class: "col-lg-2 control-label" %>
  <div class="col-lg-4">
    <%= form.check_box :kubernetes_job %>
  </div>
</div>
