<li><%= link_to "Kubernetes Clusters", kubernetes_clusters_path %></li>
<li><%= link_to "Kubernetes Roles", kubernetes_deploy_group_roles_path %></li>
<li><%= link_to "Kubernetes Usage Limits", kubernetes_usage_limits_path %></li>
