<li><%= link_to "Kubernetes Clusters", kubernetes_clusters_path %></li>
<li><%= link_to "Kubernetes Resources", kubernetes_deploy_group_roles_path %></li>
<li><%= link_to "Kubernetes Limits", kubernetes_usage_limits_path %></li>
<li><%= link_to "Kubernetes Namespaces", kubernetes_namespaces_path %></li>
