<% links = [
  ["Releases", project_kubernetes_releases_path],
  ["Roles", project_kubernetes_roles_path],
] %>

<ul class="nav nav-tabs">
  <% links.each do |name, path| %>
    <% active = request.path.start_with?(path) %>
    <li class="<%= "active" if active %>"><%= link_to name, active ? '#' : path %></li>
  <% end %>
</ul>
