<li class="<%= 'active' if active == 'kubernetes' %>">
  <%= link_to project_kubernetes_roles_path(project), style: 'padding-top: 10px; padding-bottom: 10px' do %>
    <%= image_tag('kubernetes/icon.png', height: '30px') %>
  <% end %>
</li>
