<% links = [
  ["Roles", project_kubernetes_roles_path],
  ["Releases", project_kubernetes_releases_path],
  ["Resources", project_kubernetes_deploy_group_roles_path(@project)],
  ["Limits", project_kubernetes_usage_limits_path(@project)],
] %>

<ul class="nav nav-tabs">
  <% links.each do |name, path| %>
    <% active = request.path.start_with?(path) %>
    <li class="<%= "active" if active %>"><%= link_to name, path %></li>
  <% end %>
</ul>
