<%= render 'projects/header', project: @project, tab: 'kubernetes' %>

<section class="tabs kubernetes-section clearfix">
  <%= render 'samson_kubernetes/role_navigation' %>

  <% title = (@kubernetes_role.new_record? ? "New Kubernetes Role" : "Kubernetes Role #{@kubernetes_role.name}") %>
  <%= page_title title, in_tab: true %>
  <%= render 'form' %>
</section>
