<fieldset>
  <legend>Zendesk</legend>
  <div class="col-lg-6 checkbox col-lg-offset-2">
    <%= form.label :comment_on_zendesk_tickets do %>
      <%= form.check_box :comment_on_zendesk_tickets %>
      Add comment on a Zendesk ticket after deployment
    <% end %>
  </div>
</fieldset>
