<div class="output <%= 'hidden' if @deploy.waiting_for_buddy? || @deploy.pending_non_production? %>">
  <div class="clearfix">
    <div class="btn-toolbar pull-right" id="output-toolbar">
      <div id="output-options" class="btn-group only-active">
        <button class="btn btn-default active" id="output-follow">Follow</button>
        <button class="btn btn-default" id="output-steady">Don't Follow</button>
        <button class="btn btn-default" id="output-grow">Expand</button>
      </div>

      <div class="pull-right only-finished">
        <button class="btn btn-default" id="output-grow-toggle">Expand</button>
        <%= link_to "Download log", project_deploy_path(@project, @deploy, format: :text), class: "btn btn-primary" %>
      </div>
      <% if @deploy.can_be_stopped_by?(current_user) %>
        <%= stop_button(class: "btn btn-danger pull-right only-active") %>
      <% end %>
    </div>
  </div>

  <%= render "log", deploy: @deploy %>
</div>
