<div class="row deploy-check">
  <% if @deploy.can_be_stopped_by?(current_user) %>
    <p>This deploy does not hit production. At this point, you can either Start or Stop the pending deploy.</p>
    <div class="pending-start">
      <%= link_to "Start", pending_start_project_deploy_path(@project, @deploy), method: :post, class: "btn btn-primary btn-xl" %>
      or
      <%= stop_button %>
    </div>
  <% else %>
    <p>This deploy does not hit production, and needs to be started. (Someone with deploy rights or greater.)</p>
  <% end %>
</div>
