<div class="timeline-entry clearfix"
  ng-repeat="deploy in (deploys = (timelineDeploys.entries | filter:search | userFilter:userType | stageFilter:stageType | statusFilter:deployStatus))">

  <div class="timeline-entry-main">
    <div class="timeline-icon">
      <i class="glyphicon glyphicon-{{deploy.status | statusToIcon}}"></i>
    </div>

    <a class="timeline-project" ng-href="{{deploy.project.url}}">{{deploy.project.name}}</a>

    <a class="timeline-content clearfix" ng-href="{{deploy.url}}">
      <div class="timeline-summary">{{deploy.summary}}</div>
      <div class="clearfix">
        <img class="timeline-gravatar img-circle" ng-src="{{deploy.user.gravatar_url}}" title="{{deploy.user.name}}" alt="Gravatar">
        <div class="timeline-who">
          {{deploy.user.name}} <span data-time="{{deploy.updated_at}}" class="timeline-time">{{deploy.updated_at_ago}}</span>
        </div>
      </div>
    </a>
  </div>

</div>
