<tr class="timeline-entry"
  data-url="{{deploy.url}}" ng-click="jumpTo($event)"
  ng-repeat="deploy in (deploys = (timelineDeploys.entries | projectUserFilter:search | userFilter:userType | stageFilter:stageType | statusFilter:deployStatus))">
  <td>
    <a class="timeline-project" ng-href="{{deploy.project.url}}">{{deploy.project.name}}</a>
  </td>

  <td class="timeline-who">
    {{deploy.user.name}}
  </td>

  <td class="timeline-summary">
   {{deploy.summary}}
  </td>

  <td>
    <span data-time="{{deploy.updated_at}}" class="timeline-time">{{deploy.updated_at_ago}}</span>
  </td>

  <td>
    <span class="label label-{{deploy.status | visualizeStatus}} timeline-deploy-status">{{deploy.status}}</span>
  </td>

  <td>
    <i class="glyphicon glyphicon-log-out"></i>
  </td>
</tr>
