<h1>Current Deploys</h1>

<section>
  <table class="table">
    <thead>
      <tr>
        <th>Project</th>
        <th>Who</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "deploy", collection: @deploys.to_a.compact %>
    </tbody>
  </table>
  <%= paginate @deploys %>
</section>
