<%# no page_title since this is rendered via ajax %>

<% Changeset::ATTRIBUTE_TABS.each do |tab| %>
  <div class="tab-pane changeset-content" id="<%= tab %>">
    <%= render "changeset/#{tab}", changeset: @changeset, type: 'deploy' %>
  </div>
<% end %>

<%= Samson::Hooks.render_views(:deploy_changeset_tab_body, self) %>
