<h1><%= @project.name %></h1>

<%= render partial: "shared/project_tabs",
           locals: { project: @project, active: "deploys" } %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Project</th>
			<th>Who</th>
			<th>When</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render partial: "deploy", collection: @deploys %>
	</tbody>
</table>
