<% cache job do %>
  <tr>
    <td><%= relative_time(job.created_at) %></td>
    <td>
      <%= link_to "#{job.user.name} executed:", [@project, job] %>
      <pre class="pre-command"><%= job.command %></pre>
    </td>
    <td><%= job_status_badge(job) %></td>
  </tr>
<% end %>
