<div class="output">
  <div class="clearfix">
    <div class="btn-toolbar pull-right" id="output-toolbar">
      <div id="output-options" class="btn-group only-active">
        <button class="btn btn-default active" id="output-follow">Follow</button>
        <button class="btn btn-default" id="output-steady">Don't Follow</button>
        <button class="btn btn-default" id="output-grow">Expand</button>
      </div>

      <button class="btn btn-default only-finished" id="output-grow-toggle">Expand</button>
      <%= link_to "Download log", project_job_path(@project, job, format: :text), class: "btn btn-primary only-finished" %>

      <% if job.can_be_stopped_by?(current_user) %>
        <%= stop_button(deploy: job, class: "btn btn-danger only-active") %>
      <% end %>
    </div>
  </div>

  <%= render partial: "jobs/log", locals: { job: job } %>
</div>
