<% page_title "Jobs" %>

<%= render 'projects/header', project: @project, tab: "jobs" %>

<section class="tabs">
  <table class="table">
    <thead>
      <tr>
        <th>When</th>
        <th>Who</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'job', collection: @jobs, cached: true %>
    </tbody>
  </table>

  <%= paginate @pagy %>
</section>
