<% if prerequisite_stages = @stage.prerequisite_stages.presence %>
  <h2>Prerequisite Stages</h2>

  <div>
    This stage can only deploy after these stages have successfully deployed:
    <%= unordered_list prerequisite_stages do |stage| %>
      <%= link_to stage.name, [@project, stage]%>
    <% end %>
  </div>
<% end %>
