<% if prerequisite_stages = @stage.prerequisite_stages.presence %>
  <h2>Prerequisite Stages</h2>

  <div>
    This stage can only deploy after these stages have successfully deployed:
    <ul>
      <% prerequisite_stages.each do |stage| %>
        <li><%= link_to stage.name, [@project, stage]%></li>
      <% end %>
    </ul>
  </div>
<% end %>
