<script type='text/ng-template' id='kubernetes/kubernetes_release_wizard_step_2.tmpl.html'>
  <us-spinner spinner-theme="async-data-loader" ng-if="loadingDeployGroups">
    <span class="spinner-label">Loading Deploy Groups</span>
  </us-spinner>
  <div ng-if="notEmpty(environment.deploy_groups)" class="form-container">
    <fieldset ng-disabled="submitting">
      <div class="form-group clearfix">
        <label>
          <span class="order">4.</span>
          <span>Select pods to deploy to:</span>
        </label>
        <div class="deploy-groups-container container-fluid no-padding">
          <div class="toggle-all-link">
            <a ng-click="toggleAll()">
              <span ng-if="!allToggled()">Select all</span>
              <span ng-if="allToggled()">Clear All</span>
            </a>
          </div>
          <div ng-repeat="dg in deploy_groups" class="deploy-group col-lg-4"
               ng-click="toggleSelection(dg)" ng-class="{selected: isSelected(dg)}">
            <div class="overlay"></div>
            <div class="row" style="margin: 10px;">
              <span class="col-lg-3 name">
                {{dg.name}}
              </span>
              <span class="col-lg-1 selected pull-right">
                <input type="radio" ng-checked="isSelected(dg)" />
              </span>
            </div>
            <div class="deploy-group-specs">
              <table class="roles">
                <colgroup>
                  <col style="width: 75%">
                  <col />
                </colgroup>
                <thead>
                  <tr>
                    <th>Role</th>
                    <th>Replicas</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="role in dg.roles">
                    <td>
                      <span>{{role.name}}</span>
                    </td>
                    <td>
                      <input type="number" class="form-control editable-property-control" value="{{role.replicas}}"
                             ng-model="role.replicas" ng-click="$event.stopPropagation();">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <footer class="clearfix">
    <button ng-click="previous()" class="btn btn-default" style="margin-right: 20px;" ng-if="isCurrentStep(2)" ng-disabled="submitting">Back</button>
    <button ng-click="cancel()" class="btn btn-default pull-right" ng-disabled="submitting">Cancel</button>
    <button ng-click="submit()" class="btn btn-primary pull-right" ng-disabled="!validate(currentStep) || submitting">
      <span class="spinner" ng-class="{ 'visible': submitting }">
        <i class="glyphicon glyphicon-refresh spinning"></i>
      </span>
      Deploy
    </button>
  </footer>
</script>
