<script type="text/ng-template" id="kubernetes/kubernetes_releases.tmpl.html">
  <div class="kubernetes-releases">
    <us-spinner spinner-theme="async-data-loader" ng-if="!releases">
      <span class="spinner-label">Loading Kubernetes Releases</span>
    </us-spinner>
    <div ng-if="releases" class="releases-container">
      <p class="pull-right">
        <a ng-click="showCreateReleaseDialog($event)" class="btn btn-default">Create Release</a>
      </p>
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Id</th>
          <th>Build</th>
          <th>Deploy Groups</th>
          <th>Created</th>
          <th>Created By</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="!releases.length" ng-hide="releases.length">
          <td colspan="5">No releases have been created yet.</td>
        </tr>
        <tr ng-repeat="release in releases" ng-show="release.length" ng-hide="!releases.length">
          <td>{{release.id}}</td>
          <td>
            <a href="/projects/{{project_id}}/builds/{{release.build.id}}">{{release.build.label}}</a>
          </td>
          <td>
            <span ng-repeat="deploy_group in release.deploy_groups" class="label label-info">{{deploy_group}}</span>
          </td>
          <td>{{release.created_at | date: 'yyyy-MM-dd HH:mm:ss'}} UTC</td>
          <td>{{release.created_by}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</script>

<%= render 'kubernetes_releases/create_form' %>
