<% flash_mapping.each do |type, klass| %>
  <% if messages = flash[type] %>
    <% Array.wrap(messages).each do |message| %>
      <div class="alert alert-<%= klass %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<!-- Flash messages for ajax requests -->
<mc-messages></mc-messages>