<% flash_mapping.each do |type, klass| %>
  <% if flash.key?(type) %>
    <div class="alert alert-<%= klass %>">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[type] %>
    </div>
  <% end %>
<% end %>
