<% flash_mapping.each do |type, klass| %>
  <% if flash.key?(type) %>
    <% Array.wrap(flash[type]).each do |message| %>
      <div class="alert alert-<%= klass %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>
