<% if resource.dashboard.present? %>
  <h2>Dashboard</h2>
  <div><%= sanitize resource.dashboard, tags: Loofah::HTML5::SafeList::ACCEPTABLE_ELEMENTS + %w[iframe], attributes: Loofah::HTML5::SafeList::ACCEPTABLE_ATTRIBUTES %></div>
<% end %>
