<% if object.errors.any? %>
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1 alert alert-warning">
      <p><strong>Ooops!</strong> There was an error:</p>
      <%= render_nested_errors(object) %>
    </div>
  </div>
<% end %>
