<div class="footer">
  <div class="container">
    <p class="built-by">Built by Zendesk</p>
    <% if revision = Rails.application.config.samson.revision.presence %>
      <p>
        <%= link_to revision[0..7], "https://github.com/zendesk/samson/commit/#{revision}",
            title: "Currently deployed samson version since #{Rails.application.config.samson.start_time.to_s(:db)}", class: "sha" %>
      </p>
    <% end %>

    <% if link = ENV['HELP_LINK'] %>
      <p><%= link.html_safe %></p>
    <% end %>
  </div>
</div>
