<div class="footer">
  <div class="container">
    <div class="links">

      <div class="pull-left">
        Built by Zendesk
      </div>

      <div class="pull-right">
      <% if revision = Rails.application.config.samson.revision.presence %>
        <span class="sha">
          <%= link_to "https://github.com/zendesk/samson/commit/#{revision}",
              title: "Currently deployed samson version", class: "sha" do %>
            <%= revision[0..7] %>
            <i class="glyphicon glyphicon-circle-arrow-right"></i>
          <% end %>
        </span>
      <% end %>
      </div>

    </div>
  </div>
</div>
