<div class="output <%= 'hidden' if hide %>">
  <div class="clearfix">
    <div class="btn-toolbar pull-right" id="output-toolbar">
      <div id="output-options" class="btn-group only-active">
        <button class="btn btn-default active" id="output-follow">Follow</button>
        <button class="btn btn-default" id="output-no-follow">Don't Follow</button>
        <button class="btn btn-default" id="output-expand">Expand</button>
      </div>

      <button class="btn btn-default only-finished" id="output-expand-toggle">Expand</button>
      <%= link_to "Download log", [@project, deployable, {format: :text}], class: "btn btn-primary only-finished" %>

      <%= cancel_button deploy: deployable, project: @project, class: "btn btn-danger only-active" %>
    </div>
  </div>

  <%= render partial: "jobs/log", locals: { job: job } %>
</div>
