<% if form.object.persisted? %>
  <div class="form-group">
    <%= form.label :permalink, "Permalink", class: "col-lg-2 control-label" %>
    <div class="col-lg-4">
      <%= form.text_field :permalink, class: "form-control" %>
    </div>
  </div>
<% end %>
