<div id="search-bar" class="col-md-5 row pull-right">
  <%= form_tag url, method: 'get', class: 'form-horizontal' do %>
    <%= label_tag :search, 'Search:', class: 'control-label sr-only' %>
    <div class="input-group">
      <%= text_field_tag :search, query, class: 'form-control', placeholder: 'Search' %>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  <% end %>
</div>
