<h2>Command</h2>
<pre class="pre-command"><%= @stage.command %></pre>

<% if groups = @stage.deploy_groups.sort_by(&:natural_order).presence %>
  <h2>Deploy groups</h2>
  <% groups.each do |group| %>
    <%= link_to group.name, group %>
  <% end %>
<% end %>

<h2>Recent deploys</h2>
<table class="table">
  <thead>
  <tr>
    <th>When</th>
    <th>Who</th>
    <% unless @stage %>
      <th>Stage</th>
    <% end %>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: "/projects/deploy", collection: @deploys %>
  </tbody>
</table>
<%= paginate @deploys %>
