<fieldset>
  <legend>Jenkins</legend>
  <p class="col-lg-offset-2">Jenkins jobs that should run after this stage gets deployed. (comma separated)</p>

  <div class="form-group">
    <div class="col-lg-6 col-lg-offset-2">
      <%= form.text_field :jenkins_job_names, class: "form-control", placeholder: "Jenkins jobs" %>
    </div>
  </div>

  <%= form.input :jenkins_email_committers, as: :check_box, label: "Jenkins sends email to committers" %>
  <%= form.input :jenkins_build_params,
      as: :check_box,
      label: "Should Samson automatically configure Jenkins Jobs for build params", 
      help: "Samson can send some meta-data like buildStartedBy, emails etc which can be "\
      "used by a jenkins job.These values are sent as build parameters. Checking this box "\
      "allows Samson to add required build parameters to the jenkins job." %>

</fieldset>
