<% if @deploy.waiting_for_buddy? && @deploy.stage.send_flowdock_notifications? %>
  <buddy-request-box default-buddy-request-message="<%= default_flowdock_message(@deploy) %>"
                     flowdock-flows="<%= @deploy.stage.enabled_flows_names.join(', ') %>"
                     deploy="<%= @deploy.id %>" ></buddy-request-box>

  <script type="text/ng-template" id="templates/buddy_request_box">
    <div ng-show="shouldDisplayFeedback()">
      <div class="alert" ng-class="successful ? 'alert-success' : 'alert-danger'">
        <span>{{ message }}</span>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{ title }}</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-10">
          <div class="mentions-input-box">
            <textarea id="buddy_request_box"></textarea>
          </div>
          <em>This will send a buddy request to the <strong>{{ flowdockFlows }}</strong> flows.</em>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary" data-ng-click="notifyFlowDock()">Request a Buddy!</button>
        </div>
      </div>
    </div>
  </script>
<% end %>
