<%= page_title "Deploy Metrics Report" %>

<section>
  <div class="csv-users-filters clearfix">
    <%= form_tag new_csv_export_path(format: :csv, type: :deploy_metrics), method: :get, class: "form-horizontal" do %>
      <%= hidden_field_tag :type, "deploy_metrics" %>

      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= submit_tag "Download Deploy Metrics Report", class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
