<%= page_title 'OAuth Access Tokens' %>

<section class="tabs">
  <p class="pull-right">
    <%= link_to "New", new_access_token_path, class: "btn btn-default" %>
  </p>

  <%= render 'shared/access_token_table', access_tokens: @access_tokens %>
</section>
