<div class="form-group">
  <label class="col-lg-2 control-label">Role</label>
  <div class="col-lg-4">
    <p class="form-control-static"><%= release_doc.kubernetes_role.name %></p>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-2 control-label">Num Replicas</label>
  <div class="col-lg-4">
    <p class="form-control-static"><%= release_doc.replica_count %></p>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-2 control-label">Proxy Address</label>
  <div class="col-lg-10">
    <% if address = release_doc.service.try(:proxy_address) %>
      <p class="form-control-static" style="font-family:monospace;">
        <%= link_to address, "http://#{address}" %>
      </p>
      <p class="form-control-static">Note this address will only work if you have direct access to the minions.</p>
    <% else %>
      <p class="form-control-static">None</p>
  <% end %>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-2 control-label">Controller Doc</label>
  <div class="col-lg-10">
    <pre><%= release_doc.pretty_rc_doc %></pre>
  </div>
</div>

<hr/>