<%= @task.name %>

<button id="execute">
  Execute
</button>

<div>
  <pre id="log"></pre>
</div>

<script type="text/javascript">
  $('#execute').click(function() {
    var ws = new WebSocket('ws://' + window.location.host + window.location.pathname + '/execute');
    ws.onmessage = function(m) {
      var log = document.getElementById('log');
      log.innerHTML += m.data;
    };
  });
</script>
