<div class="col-sm-4">
  <div class="project-tile" data-href="<%= project_path(project) %>">
    <h2><%= project.name %></h2>
    <ul>
      <% project.stages.each do |stage| %>
        <li><%= stage.name %>  <span class="pull-right"><%= stage.deploys.last.commit[0...10] if stage.deploys.last.commit %></span></li>
      <% end %>
    </ul>
  </div>
</div>
