<% cache project do %>
  <div class="col-sm-4 project-tile">
    <h2>
      <%= link_to project.name, project_path(project) %>
      <%= render partial: "shared/github_link", locals: { project: project } %>
    </h2>
    <ul id="project_<%= project.id %>_stages">
      <%= render partial: "stage_summary", as: :stage, collection: project.stages.roots %>
    </ul>
  </div>
<% end %>
