<tr>
  <td class="stage-td">
    <%= link_to stage.name, project_stage_path(project, stage) %>
    <% if stage.locked? %>
      <span class="label label-warning"><i class="glyphicon glyphicon-lock"></i> Locked</span>
    <% end %>
  </td>
  <td>
    <% if stage.deploys.empty? %>
      -
    <% else %>
      <%= link_to stage.deploys.first.summary, project_deploy_path(@project, stage.deploys.first) %>
    <% end %>
  </td>
  <td><%= deploy_link @project, stage %></td>
</tr>
