<tr>
  <td class="stage-td">
    <%= link_to stage.name, project_stage_path(project, stage) %>
    <% if stage.locked? %>
      <span class="label label-warning"><i class="glyphicon glyphicon-lock"></i> Locked</span>
    <% end %>
  </td>
  <% if stage.last_deploy.nil? %>
    <td>-</td>
    <td>-</td>
  <% else %>
    <td><%= stage.last_deploy.user.name %></td>
    <td><%= link_to truncate(stage.last_deploy.try(:reference), length: 25), project_deploy_path(project, stage.last_deploy) %></td>
  <% end %>
  <td><%= deploy_link @project, stage %></td>
</tr>
