<% content_for :page_title, project.name %>

<%= render 'projects/header', project: project, tab: "overview" %>

<% cache project do %>
  <section class="clearfix tabs">
    <table class="project-stages table table-condensed">
      <thead>
        <tr>
          <th>Stage Name</th>
          <% if DeployGroup.enabled? %>
            <th>Deploy Groups</th>
          <% end %>
          <th>Last Deploy</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "stage", collection: @stages %>
      </tbody>
    </table>
  </section>
<% end %>
