<h1 class="project_title"><%= project.name %></h1>

<%= render partial: "shared/project_tabs",
           locals: { active: "overview" } %>

<h2>Current stages</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Deploy</th>
        <th>Deploy</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "stage", collection: @stages %>
    </tbody>
</table>

<h2>Recent deploys</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>When</th>
        <th>Who</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "deploy", collection: @deploys %>
    </tbody>
</table>
