<% content_for :page_title, project.name %>

<% cache project do %>
  <h1 class="project-title">
    <%= project.name %>
    <%= render partial: "shared/github_link", locals: { project: project } %>
  </h1>

  <%= render partial: "shared/project_tabs",
             locals: { active: "overview" } %>

  <section class="clearfix tabs">
    <table class="project-stages table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Deployer</th>
          <th>Release</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "stage", collection: @stages %>
      </tbody>
  </table>
<% end %>
