<%= breadcrumb @deploy_group.environment, @deploy_group %>

<h1><%= @deploy_group.name %></h1>

<deploy-group-timeline ng-controller="DeployGroupsCtrl" ></deploy-group-timeline>

<%= render 'shared/deploys_table' %>
