.pre-scrollable {
  max-height: 150px;
}

.pre-command {
  background-color: #222222;
  border-color: #090909;
  color: white;
}

.commands.index {
  .table {
    table-layout: fixed;

    tr:first-of-type, th:first-of-type {
      width: 50%;
    }
  }
}
