@import 'constants';

#user-description {
  margin-bottom: 0;
}

#user-description dt {
  text-align: left;
  width: 120px;
}

#user-description dd {
  margin-left: 120px;
}

#users.table tbody tr td {
  vertical-align: middle !important;
}

.relative-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.save-success,
.save-failure {
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  line-height: 52px;
  font-weight: 600;
}

.save-success {
  color: $success;
}

.save-failure {
  color: $danger;
}
