<%
  uri = URI(ENV['DATABASE_URL'] || 'mysql://root@127.0.0.1:3306')
  uri.scheme = 'mysql2' if uri.scheme == 'mysql'
%>

development:
  <% uri.path = "/samson_development" %>
  url: <%= uri %>
  pool: <%= ENV['RAILS_MAX_THREADS'] %>

test:
  <% uri.path = "/samson_test#{ENV['TEST_ENV_NUMBER']}"%>
  url: <%= uri %>
  pool: <%= ENV['RAILS_MAX_THREADS'] %>

  adapter: mysql2
  password: 'password'
  database: 'samson_test'
  username: 'root'
  host: '127.0.0.1'
  encoding: utf8
