<%
  uri = URI(ENV['DATABASE_URL'] || 'mysql://root@127.0.0.1:3306')
  uri.scheme = 'mysql2'
%>

development:
  <% uri.path = '/samson_development' %>
  url: <%= uri %>

test:
  <% uri.path = '/samson_test' %>
  url: <%= uri %>
