<li class="<%= 'active' if active == 'rollbar' %>">
  <%= link_to project_project_rollbar_dashboards_path(project), style: 'padding-top: 10px; padding-bottom: 10px' do %>
    <%= image_tag('rollbar/icon.png', height: '30px') %>
  <% end %>
</li>
