<fieldset>
  <legend>Server logs</legend>
  <p>Block deploy completion on server logs arriving.</p>

  <div class="form-group">
    <div class="col-lg-1 checkbox">
      <%= form.check_box :wait_for_server_logs %>
    </div>
  </div>
</fieldset>
