<fieldset>
  <legend>Pipelining</legend>
  <p class="col-lg-offset-2">Set the stages that will get automatically deployed after this one.</p>
  <%= render_collection_check_boxes :stage, :next_stage_ids, @project.stages - [@stage] %>
</fieldset>
