<%= link_to '', 'https://github.com/zendesk/samson/blob/master/docs/secrets.md', class: "glyphicon glyphicon-info-sign" %>
<div class="pull-right">
  <%= link_to "Duplicates", duplicates_secrets_path %>
  &nbsp;&nbsp;&nbsp;
  <%= link_to "Sharing globals", secret_sharing_grants_path if Samson::Secrets::Manager.sharing_grants? %>
</div>
