<fieldset>
  <legend>Email on automated deploy failure</legend>
  <div class="col-lg-offset-2">
    <p>When an automated deploy initially fails, send a email to:</p>
  </div>

  <%= form.input :email_committers_on_automated_deploy_failure, as: :check_box, label: "Committers in the diff to last succeeded deploy" %>

  <div class="col-lg-offset-2">
    <div class="form-group">
      <div class="col-lg-6">
        <p>Addresses (comma separated):</p>
        <%= form.text_field :static_emails_on_automated_deploy_failure, class: "form-control" %>
      </div>
    </div>
  </div>
</fieldset>
