<%= form_for [project, stage], html: { class: "form-horizontal" } do |form| %>
  <fieldset>
    <%= render 'stages/fields', form: form %>
  </fieldset>

  <hr>

  <div class="row">
    <div class="embed-responsive embed-responsive-16by9">
      <% PluginManager.instance.stage_config_plugins.each do |plugin| %>
        <iframe src="<%= send("plugins_#{plugin.plugin_name}_stage_config_ui_path".to_sym) %>"
                class="embed-responsive-item" ></iframe>
      <% end %>
    </div>
  </div>

  <hr>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
<% end %>
