<%= form_for [project, stage], html: { class: "form-horizontal" } do |form| %>
  <%= render 'shared/errors', object: stage %>

  <fieldset>
    <%= render 'stages/fields', form: form %>
  </fieldset>

  <hr>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
<% end %>
