<% content_for(:page_title, "Editing #{@stage.name} (#{@project.name})") %>

<%= breadcrumb @project, @stage, "Edit" %>

<h1>Edit stage</h1>

<section>
  <%= render 'form', project: @project, stage: @stage %>
</section>
