<% content_for(:page_title, "Editing #{@stage.name} (#{@project.name})") %>

<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active"><%= @stage.name %></li>
</ol>

<h2>Edit stage</h2>

<%= render 'form', project: @project, stage: @stage %>
