<%= render 'projects/header', project: @project, tab: 'kubernetes' %>

<section class="tabs kubernetes-section clearfix">
  <%= render 'samson_kubernetes/role_navigation' %>
  <% title = (@kubernetes_deploy_group_role.new_record? ? "New Kubernetes Deploy Group Role" : "Kubernetes Deploy Group Role") %>
  <%= page_title title, in_tab: true %>
  <%= render 'form' %>
</section>
