<section class="clearfix tabs">
  <div class="panel panel-default">
    <div class="panel-heading"><h2>Pod 100</h2></div>
    <table class="table">
      <tr>
        <td>Voyager</td>
        <td>v1.2</td>
      </tr>
      <tr>
        <td>Exodus</td>
        <td>v2.5</td>
      </tr>
      <tr>
        <td>Classic</td>
        <td>v999</td>
      </tr>
      <tr>
        <td>PRODUCT DATA WAREHOUSE</td>
        <td>v1</td>
      </tr>
      <tr>
        <td>ZENDESK X-FILES</td>
        <td>v3</td>
      </tr>
      <tr>
        <td>ZENDESK SEARCH SERVICE</td>
        <td>v1.2.3.4</td>
      </tr>
      <tr>
        <td>ZENDESK MAIL PARSING QUEUE</td>
        <td>v666</td>
      </tr>
      <tr>
        <td>Radar</td>
        <td>v666</td>
      </tr>
      <tr>
        <td>App Framework</td>
        <td>v666</td>
      </tr>
      <tr>
        <td>Zendesk NPS</td>
        <td>v666</td>
      </tr>
      <tr>
        <td>CSV Exporter</td>
        <td>v666</td>
      </tr>
      <tr>
        <td>Status Monitor</td>
        <td>v666</td>
      </tr>
      <tr>
        <td>Zendesk Solr</td>
        <td>v666</td>
      </tr>
      <tr>
        <td>Zendesk Proxy</td>
        <td>v666</td>
      </tr>
      <tr>
        <td>Zendesk Http Logger</td>
        <td>v666</td>
      </tr>
      <tr>
        <td>Zendesk Stats Rollup</td>
        <td>v666</td>
      </tr>
    </table>
  </div>
