<%= render 'projects/header', project: @project, tab: 'kubernetes' %>

<section class="tabs">
  <h2>Kubernetes Release Groups</h2>

  <%= render partial: 'kubernetes_release_groups/kuber_release_group_table' %>
</section>
