<h1>New Environment</h1>

<%= form_for [:admin, @environment], html: { class: "form-horizontal" } do |form| %>
  <%= render 'admin/environments/fields', form: form %>

  <hr>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= form.submit "Create", class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
