<tr <%= project_style(project.id)%> >
  <td><%= link_to project.name, project %></td>

  <% @deploy_groups.each do |deploy_group| %>
    <td><%= display_version(project.id, deploy_group.id) %></td>
  <% end %>
</tr>
