<tr class="<%= 'warning' if project_has_different_deploys?(deploy_group_versions) %>">
  <td><%= link_to project.name, project %></td>
  <% @environment.deploy_groups.each do |deploy_group| %>
    <td>
      <% if deploy = deploy_group_versions[deploy_group.id] %>
        <%= link_to deploy.reference, project_deploy_path(project, deploy) %>
      <% end %>
    </td>
  <% end %>
</tr>
