<%
   row_classes = []
   row_classes << 'warning' if project_has_different_deploys?(deploy_group_versions)
   row_classes << 'no-elements hidden' if deploy_group_versions.slice(*@environment.deploy_group_ids).empty?
%>
<tr class="<%= row_classes.join(' ') %>">
  <td><%= link_to project.name, project %></td>
  <% @environment.deploy_groups.each do |deploy_group| %>
    <td>
      <% if deploy = deploy_group_versions[deploy_group.id] %>
        <%= link_to deploy.reference, project_deploy_path(project, deploy) %>
      <% end %>
    </td>
  <% end %>
</tr>
