<%
   row_attr = {}
   if deploy_group_versions.slice(*@environment.deploy_group_ids).empty?
     row_attr[:class] = 'no-deploys'
     row_attr[:style] = 'display: none;'
   elsif project_has_different_deploys?(deploy_group_versions)
     row_attr[:class] = 'warning'
   end
%>
<%= content_tag(:tr, row_attr) do -%>
  <td><%= link_to project.name, project %></td>
  <% @environment.deploy_groups.each do |deploy_group| %>
    <td>
      <% if deploy = deploy_group_versions[deploy_group.id] %>
        <%= link_to deploy.reference, project_deploy_path(project, deploy) %>
      <% end %>
    </td>
  <% end %>
<% end -%>
