<fieldset>
  <legend>Datadog</legend>
  <div class="col-lg-offset-2">
    <div class="form-group">
      <div class="col-lg-6">
        <%= form.text_field :datadog_tags, class: "form-control", placeholder: "Datadog tags" %>
        <span class="help-block">
          Tags that should be used on deploy events, separated by <code>;</code><br/>
          Leave empty to not send notifications.
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-6">
        <%= form.text_field :datadog_monitor_ids, class: "form-control", placeholder: "Datadog Monitor Ids" %>
        <span class="help-block">
          Datadog monitor ids (comma separated)
        </span>
      </div>
    </div>
  </div>
</fieldset>
