<% if datadog_monitors = @stage.datadog_monitors.presence %>
  <h2>Datadog Monitors</h2>
  <% datadog_monitors.each do |monitor| %>
    <% label = {"OK" => "success", "Alert" => "danger"}[monitor.state] || "warning" %>
    <%= link_to monitor.name, monitor.url, class: "label label-#{label}" %>
  <% end %>
<% end %>
