<fieldset>
  <legend>Datadog</legend>
  <div class="col-lg-offset-2">
    <div class="form-group">
      <h3>Deploy events with tags <%= additional_info "In addition to started/finished tags), separated by <code>;</code><br/>Leave empty to not send notifications.".html_safe %></h3>
      <div class="col-lg-6">
        <%= form.text_field :datadog_tags, class: "form-control", placeholder: "Datadog deploy event tags" %>
      </div>
    </div>

    <%= render "samson_datadog/datadog_monitor_queries_fields", form: form %>
  </div>
</fieldset>
