<tr class="timeline-entry">
  <td>
    <a class="timeline-project" ng-href="{{deploy.project.url}}">{{deploy.project.name}}</a>
  </td>
  <td class="timeline-who">
    {{deploy.user.name}}
  </td>
  <td class="timeline-summary">
    <a ng-href="{{deploy.url}}">{{deploy.summary}}</a>
  </td>
  <td>
    <span data-time="{{deploy.updated_at}}" class="timeline-time">{{deploy.updated_at_ago}}</span>
  </td>
  <td>
    <span class="label label-{{deploy.status | visualizeStatus}} timeline-deploy-status">{{deploy.status}}</span>
  </td>
</tr>
