@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select";
@import "font-awesome";
@import "jquery-ui";
@import "x-editable/dist/bootstrap3-editable/css/bootstrap-editable";
@import "angular-xeditable";
@import "rickshaw";
@import "vis";
@import "admin/*";
@import "*";

.ansible_30 {
  background-color: white;
  color: black;
}

.ansible_31    { color: red; }
.ansible_32    { color: limegreen; }
.ansible_33    { color: yellow;}
.ansible_34    { color: blue; }
.ansible_35    { color: magenta; }
.ansible_36    { color: cyan; }
.ansible_37    { color: white; }
.ansible_90    { color: white; }
.ansible_none  { color: white; }

.pre-scrollable.log {
  background-color: black;
  color: white;
  max-height: 550px;
}

.navbar .navbar-btn.pull-right {
  margin-right: 15px;
}

.label-hotfix {
  background-color: #f0ad4e;
  text-transform: uppercase;
}

a.no-hover:hover {
  text-decoration: none;
}

.dropdown-menu > li > a.padding-sm {
  padding: 3px 10px;
}

.dropdown-menu > li.selected > a {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
