/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require jquery.ui.all
 *= require_tree .
 */

.ansible_30    { color: black; }
.ansible_31    { color: red; }
.ansible_32    { color: limegreen; }
.ansible_33    { color: yellow;}
.ansible_34    { color: blue; }
.ansible_35    { color: magenta; }
.ansible_36    { color: cyan; }
.ansible_37    { color: white; }
.ansible_90    { color: white; }
.ansible_none  { color: white; }

.pre-scrollable.log {
  background-color: black;
  color: white;
}

.navbar .navbar-btn.pull-right {
  margin-right: 15px;
}
