// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  .failed {
    border-color: red;
  }

  .running, .started {
    border-color: blue;
  }

  .successful {
    border-color: green;
  }
}

.log {
  display: block;
}

.file-summary {
  cursor: pointer;
}

.table .file-diff > td {
  border: 0;
}

.mouseover {
  border-bottom: 1px dotted #999999;
  cursor: help;
}

.file-diff {
  pre {
    background-color: #fff;
  }

  .line {
    display: inline-block;
  }

  .change {
    color: #777;
  }

  .line.delete {
    background-color: #fdd;
  }

  .line.insert {
    background-color: #dfd;
  }
}

.deploy-details {
  padding: 0 50px;
}
