// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  .failed {
    border-color: red;
  }

  .running, .started {
    border-color: blue;
  }

  .successful {
    border-color: green;
  }
}

.log {
  display: block;
}

.file-summary {
  cursor: pointer;
}

.table .file-diff > td {
  border: 0;
}

.mouseover {
  border-bottom: 1px dotted #999999;
  cursor: help;
}

.file-diff {
  pre {
    background-color: #fff;
  }

  .line {
    display: inline-block;
  }

  .change {
    color: #777;
  }

  .line.delete {
    background-color: #fdd;
  }

  .line.insert {
    background-color: #dfd;
  }
}

.deploy-details {
  padding: 0 50px;
}

.twitter-typeahead {
  width: 100%;

  .tt-dropdown-menu {
    width: 100%;
    padding: 8px 0;
  }

  .tt-dataset-releases {
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }

  .tt-suggestions {
    padding: 8px 0;
  }

  .tt-hint {
    display: none;
  }

  .tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
    font-size: 14px;

    p {
      margin: 0;
    }
  }

  .tt-is-under-cursor {
    background-color: #e7e7e7;
  }
}

#deploy-confirmation {
  display: none;

  .deploy-details {
    padding: 0;
  }
}

.check {
  margin-top: 20px;
  text-align: center;

  > div {
    margin: 30px 0;
  }
}

.chart:first {
  margin-bottom: 25px;
}

#output-toolbar {
  margin-bottom: 10px;
}

td.status {
  text-align: right;
}

.only-active {
  display: none;
}

.stream-header .pull-right {
  position: relative;
  top: -10px;
}
