// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "jquery-mentions-input/jquery.mentionsInput";

.log {
  display: block;
}

.file-summary {
  cursor: pointer;
}

.table .file-diff > td {
  border: 0;
}

.mouseover {
  border-bottom: 1px dotted #999999;
  cursor: help;
}

.file-diff {
  pre {
    background-color: #fff;
  }

  .line {
    display: inline-block;
  }

  .change {
    color: #777;
  }

  .line.delete {
    background-color: #fdd;
  }

  .line.insert {
    background-color: #dfd;
  }
}

.deploy-details {
  padding: 0 50px;
}

.deploy-search{
  input[type="checkbox"] {
    margin: 10px 0 0 15px;
  }
}

#deploy-confirmation {
  display: none;

  .deploy-details {
    padding: 0;
  }
}

.deploy-check {
  margin-top: 20px;
  text-align: center;

  > div {
    margin: 30px 0;
  }
}

.chart:first {
  margin-bottom: 25px;
}

.deploy-csv {
  float: right;
  clear: both;
  margin-bottom: 1em;
}

#output-toolbar {
  margin-bottom: 10px;
}

td.status {
  text-align: right;
}

.only-active {
  display: none;
}

.stream-header .pull-right {
  position: relative;
  top: -10px;
}

.deployment-alert {
  padding: 4px 3px 0;
  color: $brand-danger;
  cursor: pointer;
}

.deployment-alert-popover {
  max-width: 340px;
}

@-webkit-keyframes pulsate
{
  0%   { background: $samsonDark; color: $info; }
  50%  { background: $info; color: $samsonDark; }
  100% { background: $samsonDark; color: $info; }
}

@keyframes pulsate
{
  0%   { background: $samsonDark; color: $info; }
  50%  { background: $info; color: $samsonDark; }
  100% { background: $samsonDark; color: $info; }
}

.badge-deploys {
  -webkit-animation: pulsate 6s infinite;
  animation: pulsate 6s infinite;
}

#ref-problem-list {
  margin-top: 10px;
}

#messages {
  white-space: pre-wrap;
  > span {
    display: inline-block;
    cursor: pointer;

    &.highlighted {
      background-color: #0700d6;
    }
  }
}

#deploy_reference.loading {
  border: 2px dashed gray;
}

.has-success #deploy_reference {
  border: 2px dashed limegreen;
}

