// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  .failed {
    border-color: red;
  }

  .running, .started {
    border-color: blue;
  }

  .successful {
    border-color: green;
  }
}

.file-summary {
  cursor: pointer;
}

.table .file-diff > td {
  border: 0;
}
