/* Mixins */

@mixin Lato {
    font-family: 'Lato', sans-serif;
}

@mixin gutter20 {
  padding: 20px;
}

@mixin margin20 {
  margin: 20px;
}

@mixin center {
  margin: 0 auto;
  text-align: center;
}

/* Common styles */

html,
body {
  height: 100%;
  background: $background;
  @include Lato;
}

a {
  color: #358cce;
}

dt,
dd {
  line-height: 1.6;
}


/* Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
  @include Lato;
  font-weight: 700;
  color: #4A4A4A;
}

h1 {
  font-size: 1.5em;
}

/* Buttons */

.button {
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 3px;

  &.info {
    background: $background;
    color: $accentGrey;
  }
}

.alert {
  margin-top: 1rem;
}

/* Containers */

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding-bottom: 80px;
}

.container section {
  background: #FFF;
  border-radius: 3px;
  padding: 20px;
  margin-top: 20px;

  h2:first-child {
    margin-top: 0;
  }

  &.tabs {
    margin-top: 0;
    border-top-left-radius: 0;
  }
}


/* Navigation */

.navbar {
  border-radius: 0;

  .navbar-brand {
    color: #FFF;

    @media (max-width: 768px) {
      float: none;
      display: block;
      padding: 15px 0;
    }

    &:hover {
      color: #EEE;
    }
  }

  .profile {

    .dropdown-toggle {
      padding-left: 50px;
    }

    .gravatar {
      height: 30px;
      width: 30px;
      border-radius: 30px;
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }

}

.navbar-inverse {
  background-color: #333;
  border-color: #333;

  .btn-default {
    background: #585858;
    border: 0;
    color: rgba(225,225,225,0.7);

    &:hover {
      color: #FFF;
    }

  }

  .badge {
    background: #585858;
    color: rgba(225, 225, 225, 0.7);
  }

  a:hover,
  li.active {
    .badge {
      color: #FFF;
    }
  }

}

.nav-tabs {
  border-bottom: none;

  > li,
  > li.active {
    margin-bottom: 0px;

    a,
    a:hover,
    a:focus {
      border: none;
      padding: 15px 20px;
    }
  }
}

.logout-btn {
  @media (max-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.breadcrumb {
  padding: 0;
  background: none;
  border-radius: 0;
}

/* Labels */
.label {
  padding: .3em 0.65em .35em;
  border-radius: .2em;
  color: white;

  &.disabled {
    color: grey;
  }

  &-success {
    background: $success;
  }
  &-warning {
    background: $warning;
  }
  &-danger {
    background: $danger;
  }
  &-info {
    background: $info;
  }

  &.additions {
    color: green;

    &::before {
      content: "+";
      padding: 0 2px;
    }
  }

  &.deletions {
    color: red;

    &::before {
      content: "-";
      padding: 0 2px;
    }
  }
}

/* Buttons */

.btn .btn-primary .disabled {
  background: #333;
}

.btn-xl, .btn-group-xl > .btn {
  padding: 10px 30px;
}

/* Tables */

.table {
  thead {
    tr {
      th {
        border: 0px;
        padding: 1em 0;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 1em 0;
        padding-right: 5px;
        border-bottom: 1px solid #f5f5f5;
        font-size: 0.8em;
      }

      &:hover {
        background-color: $background;
      }
    }
  }
}

/* Footer */

.footer {
  background: white;
  color: $accentGrey;
  height: 96px;
  padding: 40px 0;

  p {
    display: inline-block;
    float: right;
    padding-left: 5px;

    &.built-by {
      float: left;
      padding: 0;
    }
  }
}

/* Forms */

fieldset {
  margin-top: 30px;
}

/* Animations */

@-webkit-keyframes fadeIn {
  from { opacity:0; top: -10px; } to { opacity:1; top: 0px; }
}
@-moz-keyframes fadeIn {
  from { opacity:0; top: -10px; } to { opacity:1; top: 0px; }
}
@keyframes fadeIn {
  from { opacity:0; top: -10px; } to { opacity:1; top: 0px; }
}

.fade-in {
  position: relative;
  top: -10px;
  opacity:0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

.circular {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
