// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages {
  overflow: scroll;
  overflow-x: hidden;
}

#job_message {
  width: 90%;
}

.panel {
  .failed {
    border-color: red;
  }

  .running, .started {
    border-color: blue;
  }

  .successful {
    border-color: green;
  }
}
