.sessions.new {
  background: #343131;

  .navbar,
  .footer {
    display: none;
  }
}

.login-wrapper {
  background: #F0F0F0;
  padding: 10px;

  @media (min-width: 768px) {
    width: 350px;
    margin: 200px auto 0;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
  }

  h1 {
    margin-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }

  .login .action {
    color: #FFF;
    text-decoration: none;
  }

  .action {
    border-radius: 4px;
    display: block;
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;

    &:hover {
      opacity: 0.95;
    }

    img {
      width: 40px;
      height: 40px;
      margin: 5px 10px;
    }
  }

  .github {
    background: #000;
  }

	.zendesk {
    background: #78A300;
  }

  .google {
    background: #000;
  }

  .ldap {
    background: #662d91;
  }
  .gitlab {
    background: #548;
  }

  .bitbucket {
    background: #000;
  }

  .no-github {
    padding-top: 10px;
  }

  .more-login-actions {
    display: none;
  }

}
