.dashboard {
}

.project-tile {
  background: #333;
  min-height: 200px;
  padding: 15px;
  position: relative;
  margin-top: 30px;

  &:hover {
    text-decoration: none;
  }

  h2 {
    color: #FFF;
    margin: 0;
    padding-bottom: 15px;
    font-size: 18px;

    a {
      color: #FFF;
    }

    .github {
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
    margin-top: 6px;
    padding-bottom: 6px;
    color: #FFF;
    border-bottom: 1px dotted #444;
  }

  .stage-link {
    color: #FFF;
  }

  .status {
    font-size: 14px;
    font-weight: normal;
  }
}

.job-history {
  padding-left: 15px;
}

.job-history li {
  list-style-type: none;
}

.job-history li.success > a {
  color: green;
}

.job-history li.failed > a {
  color: red;
}

#commands .checkbox {
  float: right;
}

pre.pre-inline {
  display: inline-block;
  white-space: pre;
}

.recent-deploys .label {
  font-size: 90%;
  font-weight: normal;
}

.project-stages > tbody > tr > td {
  line-height: 37px;
}

.project-title {
  position: relative;

  .github {
    color: #333;
    position: absolute;
    right: 0;
    top: 0;
  }
}
