@import 'constants';

.search label,
.search th {
  font-weight: normal;
}

.search tr:hover:not(:first-child) {
  background-color: $samsonLight;
}

.search td,
.search th {
  padding: 5px 15px;
}

.search td {
  border-bottom: 1px solid $samsonLight;
}

.search th {
  padding: 0 15px 10px;
  border-bottom: 1px solid $samsonGrey;
}

.search-filter {
  padding-left: 0;
}

.search-filter:last-child {
  padding-right: 0;
}

.search-content {
  width: 100%;
}

.search-entry-main {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.search-content {
  color: $samsonDark;
}

.search-project {
  text-align: center;
  line-height: 30px;
  padding: 2px 10px;
}

.search-time,
.search-summary {
  color: #999;
}

.search-show-more {
  margin-top: 20px;
}

.search-deploy-status {
  text-transform: capitalize;
}

.dropdown-toggle:focus,
.bootstrap-select .btn:focus,
.bootstrap-select a:focus {
  outline: none !important;
}
