@import "bootstrap/mixins";

#stages {
  padding: 0;
}

.stage-bar {
  background: #F8F8F8 10px center;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 30px;
}

.ui-sortable .stage-bar {
  background-image: image-url('grabber.png');
  background-repeat: no-repeat;
  background-size: 10px;
  cursor: move;
}

.stage-td > a:first-child,
.stage-bar > a:first-child {
  line-height: 34px;
}

.messages {
  display: none;
}

#commands {
  .editable-buttons {
    * {
      width: 80px;
      margin: 7px 0 0 0;
      display: block;
    }

    :first-child {
      margin: 0;
    }
  }

  .pre-command {
    margin: 5px 0 5px 0;
    width: 100%;
  }

  .cannot-edit{
    position: absolute;
    top: 10px;
    color: white;
    background: red;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 0 0 150px;
    text-align: center;
  }

  .edit-command {
    padding-top: 14px;
  }

  .command-checkbox {
    input {
      margin-top: 18px;
    }

    width: 10px;
    padding-left: 5px;

    margin-right: 0;
  }

  .row {
    padding: 0;
    margin: 0 0 5px 0;
  }

  .editable-container {
    width: 100%;

    .editable-input, .form-control, .form-group {
      width: 615px; /* 100% - 80px for edit buttons */
    }

    .form-group {
      margin: 0 0 0 0;
    }
  }
}

.before-lock {
  display: none;
  vertical-align: bottom;

  &.active {
    display: inline-block;
  }
}

.lock-description {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 34px;
  padding: 6px;
  vertical-align: bottom;
  width: 200px;
}

.deploy-groups {
  thead {
    tr {
      th {
        padding: 2px 20px;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 2px 20px;
        label {
          font-weight: normal;
          margin-bottom: 0px;
        }
      }
    }
  }
}
