#stages {
  padding: 0;
}

.stage-bar {
  background: rgb(248, 248, 248) 5px center url(/assets/grabber.png) no-repeat;
  background-size: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 20px;
  cursor: move;
}

.stage-td > a:first-child,
.stage-bar > a:first-child {
  line-height: 34px;
}

.messages {
  display: none;
}

.short-button {
  padding: 0 12px;
}
