@import "bootstrap/mixins";

#stages {
  padding: 0;
}

.stage-bar {
  background: #F8F8F8 10px center;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 30px;
}

.stage-bar.sortable {
  background-image: image-url('grabber.png');
  background-repeat: no-repeat;
  background-size: 10px;
  cursor: move;
}

.stage-td > a:first-child,
.stage-bar > a:first-child {
  line-height: 34px;
}

.messages {
  display: none;
}

#commands {
  .editable-buttons {
    * {
      width: 80px;
      margin: 7px 0 0 0;
      display: block;
    }

    :first-child {
      margin: 0;
    }
  }

  .pre-command {
    margin: 5px 0 5px 0;
    width: 100%;
  }

  .pre-command.local {
    @include box-shadow(inset -5px 0 0 rgba(94, 184, 92, 0.35));
  }

  .command-checkbox {
    input {
      margin-top: 18px;
    }

    width: 10px;
    padding-left: 5px;

    margin-right: 0;
  }

  .row {
    padding: 0;
    margin: 0 0 5px 0;
  }

  .editable-container {
    width: 100%;

    .editable-input, .form-control, .form-group {
      width: 100%;
    }

    .form-group {
      margin: 0 0 0 0;
    }
  }
}
