@import 'constants';

.timeline {
  a:hover {
    text-decoration: none;
  }

  label, th {
    font-weight: normal;
  }

  tr:hover:not(:first-child) {
    background-color: $samsonLight;
  }

  td, th {
    padding: 5px 15px;
  }

  td {
    border-bottom: 1px solid $samsonLight;
  }

  th {
    padding: 0 15px 10px;
    border-bottom: 1px solid $samsonGrey;
  }

  .timeline-filter {
    padding-left: 0;
    &:last-child {
      padding-right: 0;
    }
  }

  .timeline-content {
    color: $samsonDark;
    width: 100%;
  }

  .timeline-entry-main {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }

  .timeline-project {
    text-align: center;
    line-height: 30px;
    padding: 2px 10px;
  }

  .timeline-time,
  .timeline-summary {
    color: #999;
  }

  .timeline-show-more {
    margin-top: 20px;
  }

  .timeline-deploy-status {
    text-transform: capitalize;
  }

  .dropdown-toggle:focus,
  .bootstrap-select .btn:focus,
  .bootstrap-select a:focus {
    outline: none !important;
  }
}
