span.twitter-typeahead .tt-dropdown-menu {
  @extend .dropdown-menu;
  width: 100%;
}

span.twitter-typeahead .tt-suggestion > p {
    padding: 8px 15px;
    line-height: $line-height-base;
    color: $dropdown-link-color;
}

span.twitter-typeahead .tt-suggestion.tt-cursor {
  background-color: $dropdown-link-hover-bg;
}
span.twitter-typeahead {
    width: 100%;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 180px;
  overflow-y: auto;
}
