<% if current_user.super_admin? %>
  <%= form_for [:admin, user], html: {class: 'autosubmit'} do |f| %>
    <% Role.all.each do |role| %>
      <label>
        <%= f.radio_button :role_id, role.id %>
        <%= role.display_name %>
      </label>
    <% end %>
  <% end %>
<% else %>
  <%= user.role.display_name %>
<% end %>
