<% if status.success? %>
  <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
<% elsif status.pending? %>
  <span class="glyphicon glyphicon-hourglass text-primary" aria-hidden="true"></span>
<% elsif status.missing? %>
  <span class="glyphicon glyphicon-minus text-muted" aria-hidden="true"></span>
<% elsif status.failure? %>
  <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
<% end %>
