<% content_for :page_title, "#{@project.name} releases" %>

<%= render 'projects/header', project: @project, tab: "releases" %>

<% cache [@project, @releases.current_page] do %>
  <section class="clearfix tabs">

    <p class="pull-right">
      <%= link_to "Create release manually", new_project_release_path(@project), class: "btn btn-default" %>
    </p>

    <% if @releases.any? %>
      <table class="table table-hover release-list">
        <thead>
          <tr>
            <th></th>
            <th>Authors</th>
            <th>Currently deployed to</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render @releases %>
        </tbody>
      </table>

      <%= paginate @releases %>
    <% else %>
      <p>There haven't been any releases yet.</p>
    <% end %>

  </section>
<% end %>
