<div class="alert alert-warning">
  Deployments to <%= lock.global? ? "ALL STAGES" : "this stage" %>
  were locked by <%= lock.user.name %> <%= time_ago_in_words(lock.created_at) %> ago.
  <%= lock.reason %>
</div>
