<fieldset>
	<legend>
		Environment Variables
		<%= additional_info SamsonEnv::HELP_TEXT %>
	</legend>
	<div>
		<% stage = form.object %>
		<% sorted_env_vars = stage.scoped_environment_variables.sort_by{ |env| env.name } %>
		<%= render "samson_env/environment_variables_fields",
      form: form, environment_variables: sorted_env_vars, form_name: "scoped_environment_variables" %>
	</div>
</fieldset>
