<button type="submit" class="btn btn-default editable-submit">Save</button>
<button type="button" class="btn btn-default editable-cancel">Cancel</button>
<%= link_to 'Delete', '#', class: 'btn btn-danger editable-destroy' %>
