<% flash.each do |type, message| %>
  <div class="alert alert-<%= ApplicationHelper::BOOTSTRAP_FLASH_MAPPINGS.fetch(type.to_sym) %>">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= message %>
  </div>
<% end %>
