<div class="footer navbar">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <p class="navbar-text">Built by Zendesk</p>
      </li>
    </ul>

    <ul class="nav navbar-nav pull-right">
      <% if link = ENV['HELP_LINK'] %>
        <li><%= link.html_safe %></li>
      <% end %>

      <% if version = Rails.application.config.samson.version %>
        <li>
          <%= link_to version.first(7), "https://github.com/zendesk/samson/commit/#{version}",
              title: "Currently deployed samson version since #{Rails.application.config.samson.start_time.to_s(:db)}", class: "sha" %>
        </li>
      <% end %>

    </div>
  </div>
</div>
